
body {
    background-image: url(math.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #000000;
    color: #ffffff;
}
.normalBackground{
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5%;
  background-color: rgba(0, 51, 153, 0.85);
  font-weight: 500;
  box-shadow: 5px 5px 5px gray;
  width: 80%;
}
button{
	height: 70px;
  width: 24%;
  border-radius: 5px;
  background-color: #80b2ff;
  color: #000000;
  margin-top: 5px;
}

.display{
	height: 70px;
	border: 2px solid #80b2ff;
	border-radius: 5px;
  margin-bottom: 5px;
  background-color: #ffffff;
  color: #000000;
}
h1{
	float: right;
}
.zero{
  width: 49%;
}
h2{
  text-shadow: -5px 0px #000000, 0px 5px #000000, 5px 0px #000000, 0px -5px #000000;
}
#colorSelect {
  font-size: 30px;
  text-shadow: -5px 0px #000000, 0px 5px #000000, 5px 0px #000000, 0px -5px #000000;
}
.normalColorFeature, .pickYourColorGenerator {
  margin-bottom: 20px;
  font-size: 20px;
  height: 100px;
}
.sliders{
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 500px){

  button{
    width: 20%;
  }
  .normalColorFeature, .pickYourColorGenerator {
    font-size: 20px;
    width: 80%;
    height:70px;

  }
  .zero{
    width: 42%;
  }
  #colorSelect {
  font-size: 20px;
  text-shadow: -5px 0px #000000, 0px 5px #000000, 5px 0px #000000, 0px -5px #000000;
}

}
