
body {
    background-image: url(math.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #000000;
    color: #ffffff;
}
.normalBackground{
	width: 40%;
	margin-top: 10%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5%;
  background-color: rgba(0, 51, 153, 0.85);
  font-weight: 500;
  box-shadow: 5px 5px 5px gray;
}
button{
	height: 70px;
  border-radius: 5px;
  background-color: #80b2ff;
  color: #000000;
}
.display{
	height: 70px;
	border: 2px solid #80b2ff;
	border-radius: 5px;
	width: 110%;
  margin: -5% 0px 5% -5%;
  background-color: #ffffff;
  color: #000000;
}
h1{
	float: right;
}
h2{
  text-shadow: -5px 0px #000000, 0px 5px #000000, 5px 0px #000000, 0px -5px #000000;
}
#colorSelect, #randomExplanation {
  font-size: 30px;
  text-shadow: -5px 0px #000000, 0px 5px #000000, 5px 0px #000000, 0px -5px #000000;
}
